@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --main-color: #bd313d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background-image: linear-gradient(rgba(3, 44, 38, 0.899), rgb(0, 50, 44)), url('../images/background (2).jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
}

.background{
     
}

.login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30rem;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                background-color: white;
    padding: 6rem 1.5rem;

}

.logo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo div{
    padding: 5px 15px;
}

.logo-image {
    width: 9rem;
}

.login {
    flex: 1;
    text-align: center;
    z-index: -1;
}

.login-title {
    font-size: 1.5rem;
    font-weight: 600;
}

.login input,
.login-btn {
    height: 3rem;
    font-size: 0.9rem;
    margin: 1rem 0;
    width: 90%;
    padding: 0 0.8rem;
}

.username-form,
.password-form {
    border: none;
    border-bottom: 3px solid var(--main-color);
    outline: none;
}

.login-btn {
    border-radius: 3px;
    border: none;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-btn:hover {
    background-color: var(--forth-color);
}

@media (max-width: 800px) {
    .login-container {
        flex-direction: column;
        width: 90%;
    }

    .logo-image {
        width: 10rem;
    }

    .login-title{
        font-size: 1.2rem;
    }

    .login {
        padding: 1rem 1rem;
    }
}
