:root {
  --main-color: #bd313d;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main{
  display: flex;
}

/* navbar */
.navbar{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: var(--main-color);
  text-align: center;
}

.navbar a{
  display: block; 
  height: 5rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}


.menu-selected{
  background-color: lightgrey;
}

.logo-image{
  width: 3rem;
}

.subject-image{
  width: 2.8rem;
}

.student-image{
  width: 2.5rem;
}

/* content */

.content{
  /* background-color: gainsboro; */
  width: 100%;
  position: relative;
  height: 100vh;
  padding: 2rem;
}

.add{
    padding: 1rem;
    background-color: rgb(171, 114, 126);
    margin-bottom: 1rem;
    border-radius: 5px;
}

.add input, .add button, .add p, .add label{
    margin: 0.3rem;
}


.subject-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.content-title {
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-bottom: solid 1px;
  border-color: lightgray;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
}

.subject-button {
  all: unset;
  cursor: pointer;
  width: 100%;
}

.subject-card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 2rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease;
}

.subject-card:hover {
  transform: scale(1.03);
}

.subject-name {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
}

.subject-details {
  font-size: 1rem;
  font-family: sans-serif;
}